<h4>■POINT</h4>
<div class="point_box_bg">
	<div class="point_box">
		<figure><img src="<!--images02-->"></figure>
		<p><!--point01--></p>
	</div>
</div>
<div class="point_box_bg">
	<div class="point_box">
		<figure><img src="<!--images03-->"></figure>
		<p><!--point02--></p>
	</div>
</div>
<div class="point_box_bg">
	<div class="point_box">
		<figure><img src="<!--images04-->"></figure>
		<p><!--point03--></p>
	</div>
</div>
<div class="point_box_bg">
	<div class="point_box">
		<figure><img src="<!--images05-->"></figure>
		<p><!--point04--></p>
	</div>
</div>
<div class="point_box_bg">
	<div class="point_box">
		<figure><img src="<!--images06-->"></figure>
		<p><!--point05--></p>
	</div>
</div>